.policy-card {
    @include flex(center, flex-start);
    padding-left:0;
    padding: 20px;
    box-shadow: $box-shadow;
    transition: transform 0.2s ease;

    &:hover {
        transform: translateY(-20%);
    }
    &__icon {
        @include flex(center,center);
        width: 40%;
        color: $main-color;
        i {
            font-size: 3rem;
        }
    }

    &__info {
        &__name {
            font-size:1.25rem;
            font-weight: 600px;
            margin-bottom: 10px;
        }

        &__desc {
            font-size: 1rem;
            color: $text-second-color;
        }
    }
    
}